.container  {
  padding: 0;
}
.top_banner {
    background-color: #111;
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 613px;
    position: relative;
    min-width: 720px;
    width: 100%;
}
