.container  {
  padding: 0;
}

.top-banner {
  background-color: #111;
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 613px;
  position: relative;
  min-width: 720px;
  width: 100%;
}

.topbar {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding: 0 32px;
}

.topbar-logo {
  margin-bottom: 0;
  color: #FFF;
  font-size: 31px;
}

.topbar-menu {
  font-size: 16px;
  position: relative;
}

.theme--dark.v-tabs__bar {
  background-color: transparent;
}

a {
  cursor: pointer;
}
